<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"><%= title %></h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents.</p>
    </div>
</section>

<div class="album text-muted">
    <div class="container">

        <div class="row">
            <% for(var i = 0; i < projects.length; i++) { %>
            <div class="card">
                <a href="/projects/<%= projects[i]._id %>/edit">
                    <div class="card-block">
                        <h4 class="card-title"><%= projects[i].name %></h4>
                    </div>
                    <img src="/images/318x180.svg" alt="Card image">
                </a>
                <div class="card-block stacks">
                    <% if (projects[i].stacks) { %>
                        <% projects[i].stacks.split(',').forEach(function(stack) { %>
                        <span class="label label-info"><%= stack %></span>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            <%}%>
        </div>

    </div>
</div>