@import '../bootstrap/scss/bootstrap';

body {
  min-height: 75rem;
}

a:hover {
  text-decoration: none;
}

.main {
  margin-top: 3rem;
}

.navbar {
  margin-bottom: 0;
  .title {
    color: #818a91;
  }
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  background-color: #eee;
  box-shadow: 0 -20px 20px -20px #aaa inset;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: inherit;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem;
  background-color: #f7f7f7;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 32.333%;
  padding: .75rem;
  margin-bottom: 0;
  border: 0;

  img {
    width: 100%;
  }

  .logo {
    background-color: #777777;
    opacity: 0.2;
    width: 350px;
  }
}

.card-block {
  padding-bottom: 0;

  .card-title {
    text-transform: capitalize;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.stacks {
  .label {
    font-size: 1rem;
  }
  img {
    width: 40px;
  }
}
